<a href="https://colab.research.google.com/github/LordDeJuan/CpE0332.1-1-Elective-3/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LOOP Statement

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The break statement (before)

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

The break statement (after)

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x == "Thursday":
     break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through a String

In [ ]:
for x in "week":
  print(x)

w
e
e
k

Application No. 3

In [ ]:
#Print "Thursday" only

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x == "Thursday":
     print(x)
     break

Thursday

The range() function

In [ ]:
#will print n number (starting 0)
for x in range(6):
  print(x)

#(start, end)
for x in range(2, 6):
  print(x)

#(start, end, increment)
for x in range(2,6,1):
  print(x)

0
1
2
3
4
5
2
3
4
5
2
3
4
5

Nested Loops

In [ ]:

adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective: #Will finish first the inner for loop
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

The break statement

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

The continue statement

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

The else statement

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Let's Try

In [ ]:
#Create a Python program that displays Hello 0 to Hello 10
print("\nPython program that displays Hello 0 to Hello 10: ")
for x in range(11):
  print("Hello", x)


#Create a Python program that displays integers less than 10 but not less than 3
print("\nLess than 10 but not less than 3: ")
for x in range(3,10):
  print(x)

Python program that displays Hello 0 to Hello 10:
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Less than 10 but not less than 3:
3
4
5
6
7
8
9