<a href="https://colab.research.google.com/github/LordDeJuan/CpE0332.1-1-Elective-3/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [45]:
x = 3
y = 2
if x > y:
  print("Five is greater than two!")

Five is greater than two!

Python Comment

In [8]:
print("Hello World") #This is a python comment

Hello World

Python Variable

In [19]:
z = 1
z, s = 0, -1
z, s, t = 8,9,10
z
s
t

10

Casting

In [30]:
b = "Sally" #This is a string
b = float(4)
b

4.0

Type() Function

In [26]:
print(type(b))

<class 'int'>

Double Quotes and Single Quotes

In [32]:
w = "Ana"
print(w)
q = 'Ana'
print(q)

Ana
Ana

Case Sensitive

In [36]:
a = int(4)
A = "Sally"
a
A

'Sally'

Multiple Variables

In [37]:
h, i, j = "one", "two", "three"
print(h)
print(i)
print(j)

one
two
three

Multiple Variables with Single Value

In [38]:
k = l = m = "four"
print(k)
print(l)
print(m)

four
four
four

Output Variable and Concatenation +

In [43]:
n = "enjoying"
p = "Python programming is "
print(p+n)

Python programming is enjoying

Arithmetic Operations

In [51]:
print(x + y) #Addition
print(x - y) #Subtraction
print(x * y) #Multiplication
print(round(5/3),2) #Division
print(x // y) #Floor Division
print(x % y) #Modulus
print(x ** y) #Exponentiation

5
1
6
2 2
1
1
9

Assignment Operator

In [52]:
x += 3 #Same as x = x + 3
print(x)

6

Comparison Operator

In [55]:
print(x == y) #x = 3, y = 2
print(x != y)
print(x > y)
print(x < y)

False
True
True
False

Logical Operators

In [60]:
print(x == y and x != y) #False and True
print(x == y or x != y) #False or True
print(not(x == y or x != y)) #Negate(False or True)

False
True
False

Identity Operators

In [62]:
x is y #x = 3, y = 2
x is not y

True

Bitwise Operators

In [72]:
#10 + 1 = 11  ; 1010 + 0001 = 1011
print(10 | 1)

print(x >> 1) #x = 3, 011

11
3

Application 1

In [106]:
#Create a Python program that displays your Fullname, Age, Course and Section

Name = "Lord Welchie P. De Juan"
Age = 20
Course = "Elective 3"
Section = 1

print("Hello, I am " + Name + " and I am ", Age,  " years old.")
print("I am a Computer Engineering Student at Pamantasan ng Lungsod ng Maynila.")
print("Currently, enrolled in", Course, "-", Section, "(BS CpE 3-1).")

Hello, I am Lord Welchie P. De Juan and I am  20  years old.
I am a Computer Engineering Student at Pamantasan ng Lungsod ng Maynila.
Currently, enrolled in Elective 3 - 1 (BS CpE 3-1).